.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
  color: #2f80ed;
  opacity: 1;
  text-decoration: none;
}

.feynman__link:hover {
  opacity: .7;
  text-decoration: underline;
  transition: opacity .3s ease-in;
}
